.dialogs {
  display: grid;
  grid-template-columns: 4fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialog a {
  text-decoration: none;
}

.dialog a.active {
  color: gold;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: white;
}

.newMessage {
  margin-left: 10px;
}